{% extends "base.html" %}

{% block css %}
    <style>
        .txt {
            width: 400px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="form-group">
                        <div class="select clearfix">
                            <label class="w30 ar fl">抓取状态：</label>
                            <div class="select w50 fr">
                                <select name="fetchstatus" id="fetchstatus" class="form-control">
                                    <option value="1">全部</option>
                                    <option value="2">失败</option>
                                    <option value="3">完成</option>
                                </select>
                            </div>
                        </div>
                    </div>
    <div class="form-group">
                        <div class="select clearfix">
                            <label class="w30 ar fl">作者/互动/原创转载是否处理：</label>
                            <div class="select w50 fr">
                                <select name="is_auther" id="is_auther" class="form-control">
                                    <option value="1">无</option>
                                    <option value="2">有作者</option>
                                    <option value="3">有互动</option>
                                    <option value=4">有原创转载</option>
                                </select>
                            </div>
                        </div>
                    </div>

    <div class="form-group">
                        <div class="select clearfix">
                            <label class="w30 ar fl">抓取等级：</label>
                            <div class="select w50 fr">
                                <select name="fetchlevel" id="fetchlevel" class="form-control">
                                    <option value="1">全部</option>
                                    <option value="2">高</option>
                                    <option value="3">中</option>
                                    <option value="4">低</option>
                                </select>
                            </div>
                        </div>
                    </div>

    <div class="form-group">
                    <div class="select clearfix">
                        <label class="w30 ar fl">链接：</label>
                        <div class="select w50 fr">
                            <select name="url" id="url" class="form-control">
                                <option value="1">链接</option>
                                <option value="2">网站</option>
                                <option value="3">二级版面</option>
                                <option value="4">三级版面</option>
                                <option value="5">危机APP别称</option>
                                <option value="6">搜搜别称</option>
                                <option value="7">网站类型</option>
                                <option value="8">地域</option>
                            </select>
                        </div>
                    </div>
                </div>
    <div class="form-group">
                        <div class="select clearfix">
                            <label class="w30 ar fl">是否是否静态：</label>
                            <div class="select w50 fr">
                                <select name="is_static" id="is_static" class="form-control">
                                    <option value="1">是静态</option>
                                    <option value="2">是动态</option>
                                </select>
                            </div>
                        </div>
                    </div>

    <div class="form-group">
                <div class="select clearfix">
                    <label class="w30 ar fl">是否应用讯讯：</label>
                    <div class="select w50 fr">
                        <select name="is_xunxun" id="is_xunxun" class="form-control">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>
                </div>
            </div>
    <div class="form-group">
            <div class="select clearfix">
                <label class="w30 ar fl">是否应用搜搜：</label>
                <div class="select w50 fr">
                    <select name="is_sousou" id="is_sousou" class="form-control">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
        <button type="button" class="btn btn-primary" id="post_search" onclick="startGetPostInfo()" >搜索</button>
        <div id="fill_data">
        <div class="loading" style="display:none">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <div></div>

    </div>




        <h1>划重点：</h1>
        <h4>下载模板，按照模板格式上传文件，按照模板格式编写文件，是否搜搜和是否讯讯没有用写1，上传成功后刷新网址栏返回页面</h4>
        <br>
        点击 :<a href="/medialibary/file_down/">下载模板</a>
        <br>
        <div class="form-group file">
            <form name="update_by_url" id="download_mode" action="/medialibary/download_mode/" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input id="file_upload_trumpl" name="file_upload_trumpl" type="file">
                <br>
                <button type="button" onclick="check_filepath()" type="submit">上传</button>
            </form>

        </div>

    </div>
     <div class="row" >
            <div >
                <table width="2000"border="1" >
                <thead>
                    <tr>
                        <th style="text-align: center"width="50" >ID</th>
                        <th style="text-align: center" width="100">链接</th>
                        <th style="text-align: center" width="120">二级版面</th>
                        <th style="text-align: center" width="120">三级版面</th>
                        <th style="text-align: center" width="120">讯讯别称</th>
                        <th style="text-align: center" width="120">搜搜别称</th>
                        <th style="text-align: center" width="120">网站</th>
                        <th style="text-align: center" width="120">网站类型</th>
                        <th style="text-align: center" width="120">地域</th>
                        <th style="text-align: center" width="120">抓取等级</th>
                        <th style="text-align: center" width="120">昨日抓取量</th>
                        <th style="text-align: center" width="150">是否有作者/互动/转载</th>
                        <th style="text-align: center" width="80">添加人</th>
                        <th style="text-align: center" width="120">添加时间</th>
                        <th style="text-align: center" width="120">修改时间</th>
                        <th style="text-align: center" width="120">最新抓取时间</th>
                        <th style="text-align: center" width="120">抓取状态</th>
                        <th style="text-align: center" width="150">作者/互动/原创是否转载</th>
                        <th style="text-align: center" width="120">备注</th>
                        <th style="text-align: center" width="120">是否应用讯讯</th>
                        <th style="text-align: center" width="120">是否应用搜搜</th>
                        <th style="text-align: center" width="120">更多</th>
                        <th style="text-align: center" width="120">是否是静态</th>
                        <th style="text-align: center" width="160">操作</th>
                    </tr>
                </thead>
                <tbody>
                   {% for result in data %}

{#                       <tr v-for="result in data">#}
                       <th style="text-align: center" width="1">{{ resul.id }}</th>
                        <th style="text-align: center" width="20">
                            <a href="{{ result.url }}">
                            {{ result.url }}</a></th>
                        <th style="text-align: center">{{ result.secondpage }}</th>
                        <th style="text-align: center" width="50">{{ result.thirdpage }}</th>
                        <th style="text-align: center">{{ result.xunxun_nickname }}</th>
                        <th style="text-align: center" width="50">{{ result.sousou_nickname }}</th>
                        <th style="text-align: center">{{ result.website }}</th>
                        <th style="text-align: center" width="50">{{ result.sitetype }}</th>
                        <th style="text-align: center">{{ result.regional }}</th>
                        <th style="text-align: center">{{ result.fetchlevel }}</th>
                        <th style="text-align: center">{{ result.yesterdaycapture }}</th>
                        <th style="text-align: center" width="150">{{ result.is_author }}</th>
                        <th style="text-align: center">{{ result.addpaper }}</th>
                        <th style="text-align: center">{{ result.addtime }}</th>
                        <th style="text-align: center">{{ result.updatetime }}</th>
                        <th style="text-align: center">{{ result.latestfetchtime }}</th>
                        <th style="text-align: center">{{ result.fetchstatus }}</th>
                        <th style="text-align: center">{{ result.is_process }}</th>
                        <th style="text-align: center">{{ result.note }}</th>
                        <th style="text-align: center">{{ result.is_xuxu }}</th>
                        <th style="text-align: center">{{ result.is_sousou }}</th>
                        <th style="text-align: center">{{ result.many_choice }}</th>
                        <th style="text-align: center">{{ result.is_static }}</th>
                        <th style="text-align: center" width="140">
                            <a class="btn btn-primary" href="{% url 'medialibary:detail_data' %}">编辑</a>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="getIpId(b.id)">删除</button>

                        </th>
                        </tr>

                   {% endfor %}

                   </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
     <aside class="paging">
            <a>当前{{ page_data.number }}页</a>
            <a href="{% url 'medialibary:download_mode'%}?page=1">第一页</a>
            {% for i in page_data.paginator.page_range %}
            <a href="{% url 'medialibary:download_mode' %}?page={{i}}">{{i}}</a>
            {% endfor %}
            <a href="{% url 'medialibary:download_mode'%}?page={{page_data.paginator.num_pages}}">最后一页</a>
        </aside>
    <a href="/medialibary/export_emp_excel/">导出</a>

    <script type="text/javascript">
        function check_filepath(){
            if(!$("#file_upload_trumpl").val()){
                alert("请先选择文件！");
                return false;
            }
            var strs = $("#file_upload_trumpl").val().split('.');
            if((strs[strs.length-1] != "csv")){
                alert("请上传csv格式的文件！");
                return false;
            }
            $("#download_mode").submit();
        }
    </script>
    <script>
        function startGetPostInfo() {
            if($("#fetchstatus").val().trim() === ''){
                alert('请选择抓取状态');
                return false;
            }
            if($("#is_auther").val().trim() === ''){
                alert('请选择是否处理');
                return false;
            }
            if($("#fetchlevel").val().trim() === ''){
                alert('请选择抓取等级');
                return false;
            }
            if($("#url").val().trim() === ''){
                alert('请选择url');
                return false;
            }
            if($("#is_static").val().trim() === ''){
                alert('请选择是否为静态');
                return false;
            }
            if($("#is_xunxun").val().trim() === ''){
                alert('请选择是否为迅迅');
                return false;
            }
            if($("#is_sousou").val().trim() === ''){
                alert('请选择是否应用的搜搜');
                return false;
            }

            var args_data = {
                "fetchstatus": $("#fetchstatus").val().trim(),
                "is_auther": $("#is_auther").val().trim(),
                "fetchlevel": $("#fetchlevel").val().trim(),
                "url": $("#url").val().trim(),
                "is_static": $("#is_static").val().trim(),
                "is_xunxun": $("#is_xunxun").val().trim(),
                "is_sousou": $("#is_sousou").val().trim(),
            };
            $.ajax({
                type: 'post',
                data: args_data,
                url: "/medialibary/show_data/",
{#                cache: false,#}
                success: function (data) {
                    if (data === 'ok') {
                        alert("搜索成功！");
                    } else {
                        alert(data);
                    }
                },
                error: function (error) {
                    alert("提交失败");
                }
            });

        }
        function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
	var csrftoken = getCookie('csrftoken');
	if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

    </script>

{% endblock %}