{% extends "base.html" %}
{% block title %}品牌编辑{% endblock %}

{% block css %}
    <style>
        .tag_Identity .orign{
            display: inline-block;
            color: #888;
            padding: 0 7px;
            background-color: #f0f0f0;
            margin-right: 1px;
            border-radius: 4px;
            margin-bottom: 1px;
            border: 1px solid #f0f0f0;
            cursor: pointer;
            font-size:14px;
            float: left;
        }
        .tag_Identity .check{
            display: inline-block;
            color: #888;
            padding: 0 7px;
            background-color: #f0f0f0;
            margin-right: 10px;
            border-radius: 2px;
            margin-bottom: 4px;
            border: 1px solid #f0f0f0;
            border-radius: 8px;
            border: 1px solid #4c8fcd;
            color: #4c8fcd;
            margin-bottom: 4px;
            background-color: #edf6fe;
            font-size:14px;
        }
        .tag_Identity .dv{
            color:#000;
            font-size:18px;
            display:none;

        }
        .tag_Identity .tags{
            padding-top:8px;
            clear: both;
        }
        .tag_Identity .te{
            cursor: pointer;
            color: black;
            font-size: 8px;
            background-color: white;
            margin: 1px;
            padding: 1px;

        }
        .tag_Identity .delIdentityTag{
            padding-left: 4px;
            cursor: pointer;
            color: orangered;
        }
        select{
            width: 74px;
            border: 1px solid #979797;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            height: 28px;
            line-height: 28px;
            display: inline-block;
            background: #fff;
            font-size: 12px;
            outline: none;
        }
        input{
            outline: none;
            height: 28px;
            line-height: 28px;
            width: 300px;
            padding: 6px;
            margin-left: 0px;
            border-radius: 4px;
            font-size: 12px;
            border: 1px solid #979797;
            margin-right: 4px;
        }
        .row{
            margin-bottom: 10px;
        }
{#        #btn_save{#}
{#          width: 112px;#}
{#          text-align: center;#}
{#          display: inline-block;#}
{#          font-size: 14px;#}
{#          padding: 0 13px 0 10px;#}
{#          overflow: hidden;#}
{#          text-overflow: ellipsis;#}
{#          white-space: nowrap;#}
{#          color:#fff;#}
{#        }#}
    </style>
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
           {% csrf_token %}
            <section>
                <ul class="ulColumn2">
                    <li>
                        <span class="item_name" style="width:120px;">url：</span>
                        <input type="text" name="url" value="{{edit_medialibary.url}}" class="textbox textbox_295" placeholder="url..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">二级版面：</span>
                        <input type="text" name="secondpage" value="{{edit_medialibary.secondpage}}"  class="textbox" placeholder="二级版面..."/>
                    </li>

                        <span class="item_name" style="width:120px;">三级版面：</span>
                        <input type="text" name="thirdpage" value="{{edit_medialibary.thirdpage}}"  class="textbox textbox_295" placeholder="三级版面..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">迅迅别称：</span>
                        <input type="text" name="xunxun_nickname" value="{{edit_medialibary.xunxun_nickname}}" class="textbox textbox_295" placeholder="迅迅别称..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">搜搜别称：</span>
                        <input type="text" name="sousou_nickname" value="{{edit_medialibary.sousou_nickname}}" class="textbox textbox_295" placeholder="搜搜别称..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">网站类型：</span>
                        <input type="text" name="sitetype" value="{{edit_medialibary.sitetype}}" class="textbox textbox_295" placeholder="网站..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">网站：</span>
                        <input type="text" name="website" value="{{edit_medialibary.website}}" class="textbox textbox_295" placeholder="网站类型..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">地域：</span>
                        <input type="text" name="regional" value="{{edit_medialibary.regional}}" class="textbox textbox_295" placeholder="地域..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">抓取等级：</span>
                        <input type="text" name="fetchlevel" value="{{edit_medialibary.fetchlevel}}" class="textbox textbox_295" placeholder="抓取等级..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">昨日抓取量：</span>
                        <input type="text" name="yesterdaycapture" value="{{edit_medialibary.yesterdaycapture}}" class="textbox textbox_295" placeholder="昨日抓取量..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">是否有作者互动转载：</span>
                        <input type="text" name="is_author" value="{{edit_medialibary.is_author}}" class="textbox textbox_295" placeholder="是否有作者互动转载..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">添加人：</span>
                        <input type="text" name="addpaper" value="{{edit_medialibary.addpaper}}" class="textbox textbox_295" placeholder="添加人..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">修改时间：</span>
                        <input type="text" name="updatetime" value="{{edit_medialibary.updatetime}}" class="textbox textbox_295" placeholder="网站类型..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">最新抓取时间：</span>
                        <input type="text" name="latestfetchtime" value="{{edit_medialibary.latestfetchtime}}" class="textbox textbox_295" placeholder="最新抓取时间..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">抓取状态：</span>
                        <input type="text" name="fetchstatus" value="{{edit_medialibary.fetchstatus}}" class="textbox textbox_295" placeholder="抓取状态..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">作者互动/原创/是否转载：</span>
                        <input type="text" name="is_process" value="{{edit_medialibary.is_process}}" class="textbox textbox_295" placeholder="作者互动/原创/是否转载..."/>
                    </li>
                    <li>
                        <span class="note" style="width:120px;">备注：</span>
                        <input type="text" name="note" value="{{edit_medialibary.note}}" class="textbox textbox_295" placeholder="备注..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">是否应用的迅迅：</span>
                        <input type="text" name="is_xuxu" value="{{edit_medialibary.is_xuxu}}" class="textbox textbox_295" placeholder="是否应用到迅迅..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">是否应用到搜搜：</span>
                        <input type="text" name="is_sousou" value="{{edit_medialibary.is_sousou}}" class="textbox textbox_295" placeholder="是否应用到搜搜..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">跟多选择：</span>
                        <input type="text" name="many_choice" value="{{edit_medialibary.many_choice}}" class="textbox textbox_295" placeholder="更多选择..."/>
                    </li>
                    <li>
                        <span class="item_name" style="width:120px;">是否是静态：</span>
                        <input type="text" name="is_static" value="{{edit_medialibary.is_static}}" class="textbox textbox_295" placeholder="是否是静态..."/>
                    </li>

                    <!--<li>-->
                        <!--<span class="item_name" style="width:120px;">产品详情：</span>-->

                        <!--<textarea id="editor_id" name="content" style="width:700px;height:300px;">-->
                            <!--&lt;strong&gt;HTML内容&lt;/strong&gt;-->
                        <!--</textarea>-->
                    <!--</li>-->
                    <li>
                        <span class="item_name" style="width:120px;"></span>
                        <input type="submit" class="link_btn"/>
                    </li>
                </ul>
            </section>
        </form>
{% endblock %}

