{% extends "base.html" %}
{% block title %}品牌编辑{% endblock %}

{% block css %}
    <style>
        .tag_Identity .orign{
            display: inline-block;
            color: #888;
            padding: 0 7px;
            background-color: #f0f0f0;
            margin-right: 1px;
            border-radius: 4px;
            margin-bottom: 1px;
            border: 1px solid #f0f0f0;
            cursor: pointer;
            font-size:14px;
            float: left;
        }
        .tag_Identity .check{
            display: inline-block;
            color: #888;
            padding: 0 7px;
            background-color: #f0f0f0;
            margin-right: 10px;
            border-radius: 2px;
            margin-bottom: 4px;
            border: 1px solid #f0f0f0;
            border-radius: 8px;
            border: 1px solid #4c8fcd;
            color: #4c8fcd;
            margin-bottom: 4px;
            background-color: #edf6fe;
            font-size:14px;
        }
        .tag_Identity .dv{
            color:#000;
            font-size:18px;
            display:none;

        }
        .tag_Identity .tags{
            padding-top:8px;
            clear: both;
        }
        .tag_Identity .te{
            cursor: pointer;
            color: black;
            font-size: 8px;
            background-color: white;
            margin: 1px;
            padding: 1px;

        }
        .tag_Identity .delIdentityTag{
            padding-left: 4px;
            cursor: pointer;
            color: orangered;
        }
        select{
            width: 74px;
            border: 1px solid #979797;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            height: 28px;
            line-height: 28px;
            display: inline-block;
            background: #fff;
            font-size: 12px;
            outline: none;
        }
        input{
            outline: none;
            height: 28px;
            line-height: 28px;
            width: 300px;
            padding: 6px;
            margin-left: 0px;
            border-radius: 4px;
            font-size: 12px;
            border: 1px solid #979797;
            margin-right: 4px;
        }
        .row{
            margin-bottom: 10px;
        }
{#        #btn_save{#}
{#          width: 112px;#}
{#          text-align: center;#}
{#          display: inline-block;#}
{#          font-size: 14px;#}
{#          padding: 0 13px 0 10px;#}
{#          overflow: hidden;#}
{#          text-overflow: ellipsis;#}
{#          white-space: nowrap;#}
{#          color:#fff;#}
{#        }#}
    </style>
{% endblock %}

{% block content %}
    <div class="container" style="min-height:400px;">
        <div class="row">
            <div id="main">
                <div class="wrapper">
                    <div class="content">
                        <div class="interact">
                            <input type="hidden" id="brand_id" name="brand_id" value="{{ brand.id }}"/>
                            <div class="row">
                                <div class="col-md-2 col"><label>url:</label></div>
                                <div class="col-md-10 col"><input type="text" name="url" id="brand_name" value="{{ brand.name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>二级板面:</label></div>
                                <div class="col-md-10 col"><input type="text" name="secondpage" id="level" value="{{ brand.level }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>三级版面:</label></div>
                                <div class="col-md-10 col"><input type="text" name="thirdpage" id="cn_name" value="{{ brand.cn_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>迅迅别称:</label></div>
                                <div class="col-md-10 col"><input type="text" name="xunxun_nickname" id="en_name" value="{{ brand.en_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>搜搜别称:</label></div>
                                <div class="col-md-10 col"><input type="text" name="sousou_nickname" id="short_name" value="{{ brand.short_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>网站:</label></div>
                                <div class="col-md-10 col"><input type="text" name="website" id="synonyms" value="{{ brand.synonyms }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>网站类型:</label></div>
                                <div class="col-md-10 col"><input type="text" name="sitetype" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                             <div class="row">
                                <div class="col-md-2 col"><label>地域:</label></div>
                                <div class="col-md-10 col"><input type="text" name="regional" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                             <div class="row">
                                <div class="col-md-2 col"><label>抓取等级:</label></div>
                                <div class="col-md-10 col"><input type="text" name="fetchlevel" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                             <div class="row">
                                <div class="col-md-2 col"><label>昨日抓取量:</label></div>
                                <div class="col-md-10 col"><input type="text" name="yesterdaycapture" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                             <div class="row">
                                <div class="col-md-2 col"><label>是否有作者/转载/互动原创:</label></div>
                                <div class="col-md-10 col"><input type="text" name="is_author" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                             <div class="row">
                                <div class="col-md-2 col"><label>添加人:</label></div>
                                <div class="col-md-10 col"><input type="text" name="addpaper" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>最新抓取时间:</label></div>
                                <div class="col-md-10 col"><input type="text" name="latestfetchtime" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>抓取状态:</label></div>
                                <div class="col-md-10 col"><input type="text" name="fetchstatus" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>作者/原创是否转载:</label></div>
                                <div class="col-md-10 col"><input type="text" name="is_process" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>备注:</label></div>
                                <div class="col-md-10 col"><input type="text" name="note" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>是否应用迅迅:</label></div>
                                <div class="col-md-10 col"><input type="text" name="is_xuxu" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>是否应用搜搜:</label></div>
                                <div class="col-md-10 col"><input type="text" name="is_sousou" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>更多:</label></div>
                                <div class="col-md-10 col"><input type="text" name="many_choice" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"><label>是否是静态:</label></div>
                                <div class="col-md-10 col"><input type="text" name="is_static" id="search_name" value="{{ brand.search_name }}"/></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col"></div>
                                <div class="col-md-10 col">
                                    <button id="btn_save" class="btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end wrapper-->
            </div><!-- main -->
        </div>
    </div>
    <script>
    $(".tag_Identity>.tags").find("span").each(function(){
        $(this).click(function(){
            me = $(this);
            tg_name = $.trim(me.html());
            tg_id = $.trim(me.data("tag_id"));
            $(".tag_Identity>.selected").append("<div class='check'><span data-tag_id="+tg_id+">"+tg_name+"</span><span class='delIdentityTag' onclick='delIdentityTag(this)'>删除</span></div>")

        })
    });
    function delIdentityTag(me){
        me = $(me);
        me.parent("div").remove()
    }
    function showIdentityTag(me){
        me = $(me);
        $(".tag_Identity>.title").find('.te').each(function(){
            $(this).css("background-color", "white").css("color","black");
        });
        me.css("background-color", "#008000").css("color","white");
        $(".tag_Identity>.tags").find(".dv").css("display","none");
        $(".tag_Identity>.tags").find(".dv[value="+$.trim(me.html())+"]").css("display","table");
    }
    function hideTag(me) {

    }

    $("#btn_save").click(function () {
        var args={};
        args["brand_id"] = $.trim($("#brand_id").val());
        args["brand_name"] = $.trim($("#brand_name").val());
        args["level"] = $.trim($("#level").val());
        args["cn_name"] = $.trim($("#cn_name").val());
        args["en_name"] = $.trim($("#en_name").val());
        args["short_name"] = $.trim($("#short_name").val());
        args["search_name"] = $.trim($("#search_name").val());
        args["synonyms"] = $.trim($("#synonyms").val());
        args["is_active"] = $.trim($("#is_active").val());

        if(args["brand_name"] == ""){
            alert("品牌识别名不能为空！");
            return false;
        }

        var tags_new='';
        $(".tag_Identity>.selected").find("span:not('.delIdentityTag')").each(function(){
            tags_new = tags_new+$.trim($(this).data("tag_id"))+"@"
        });
        args["tags_new"] = tags_new;

        $.post('/community/save_brand/',
            args,
            function(msg){
                if(msg!='ok'){
                    alert('更新失败'+msg);
                }
                else{
                    alert('更新成功');
                }
            }
        )

    });
</script>
{% endblock %}

