{% extends "base.html" %}

{% block css %}
    <style>
        .txt {
            width: 400px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="vm_data">
      <br>
    点击 :<a href="/medialibary/file_down/">下载模板</a>
    <br>
        <h1>根据链接更新标题、域名和字数</h1>
        <br>
        <div class="form-group file">
            <form name="update_by_url" id="download_mode" action="/medialibary/download_mode/" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input id="file_upload_trumpl" name="file_upload_trumpl" type="file">
                <br>
                <button type="button" onclick="check_filepath()" type="submit">上传</button>
            </form>

        </div>

    </div>
    <a href="/medialibary/export_emp_excel/">导出</a>

    <script type="text/javascript">
        function check_filepath(){
            if(!$("#file_upload_trumpl").val()){
                alert("请先选择文件！");
                return false;
            }
            var strs = $("#file_upload_trumpl").val().split('.');
            if((strs[strs.length-1] != "csv")){
                alert("请上传csv格式的文件！");
                return false;
            }
            $("#download_mode").submit();
        }
    </script>
{% endblock %}