<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
        <div class="form-group file">
            <form name="tijiao" id="ip_form" action="/medialibary/updata_to_media/" method="post"
                  enctype="multipart/form-data">
                <label>文件上传：</label>
                <input type="file" name="file" id="file_upload">
                <button type="button" onclick="FileUpload()">上传</button>
            </form>
        </div>
    </div>
</body>
</html>