alabaster==0.7.9
altgraph==0.15
amqp==2.1.4
appdirs==1.4.3
argh==0.26.2
asn1crypto==0.22.0
attrs==19.1.0
Automat==0.6.0
Babel==2.3.4
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.6
BeautifulSoup==3.2.1
beautifulsoup4==4.5.3
billiard==3.5.0.2
bs4==0.0.1
celery-s3==1.0.1
certifi==2018.11.29
cffi==1.10.0
chardet==2.3.0
chinesecalendar==1.2.2
click==6.7
colorama==0.3.7
ConcurrentLogHandler==0.9.1
configparser==3.5.0
constantly==15.1.0
contextlib2==0.5.5
crc16==0.1.1
cryptography==1.9
cssselect==1.0.1
cycler==0.10.0
Cython==0.26.1
dateformatting==2.4
decorator==4.0.11
dis3==0.1.2
Django==1.8.19
django-appconf==1.0.3
django-compressor==2.2
django-cors-headers==2.2.0
django-mysql==2.3.1
docutils==0.13.1
docxtpl==0.5.17
-e git+https://github.com/duanhongyi/dwebsocket@bac4b5c3d284fb16a04a5e15677e4a508b37a53c#egg=dwebsocket
elasticsearch==6.3.1
elasticsearch-dsl==6.2.1
enum34==1.1.6
et-xmlfile==1.0.1
flake8==3.6.0
flake8-docstrings==1.3.0
flake8-polyfill==1.0.2
Flask==0.12.2
functools32==3.2.3.post2
future==0.16.0
gevent==1.2.2
greenlet==0.4.12
HTMLParser==0.0.2
idna==2.5
imagesize==0.7.1
incremental==17.5.0
ipaddress==1.0.18
ipython==5.2.2
ipython-genutils==0.1.0
itsdangerous==0.24
jdcal==1.4
jieba==0.39
jieba-fast==0.53
Jinja2==2.9.5
Js2Py==0.44
jsonschema==3.0.1
jupyter-core==4.4.0
jupyter-echarts-pypkg==0.1.2
kafka==1.3.3
kafka-python==1.3.4
kazoo==2.4.0
kiwisolver==1.0.1
kombu==4.0.2
lml==0.0.2
lxml==3.7.3
macholib==1.9
MarkupSafe==0.23
matplotlib==2.2.3
mccabe==0.6.1
msgpack-python==0.4.8
mxspider==0.1.6
MySQL-python==1.2.5
nbformat==4.4.0
ndg-httpsclient==0.4.2
nose==1.3.7
numpy==1.13.1+mkl
objectpath==0.6.1
olefile==0.44
openpyxl==2.5.14
packaging==16.8
pandas==0.20.3
paramiko==2.4.2
parsel==1.2.0
pathlib2==2.2.1
pathtools==0.1.2
peewee==2.9.1
pefile==2017.11.5
pickleshare==0.7.4
Pillow==8.1.1
pipelines==0.3.0
plotly==3.8.0
prompt-toolkit==1.0.13
psutil==5.4.2
py2exe==0.6.10.dev0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycodestyle==2.4.0
pycparser==2.17
PyDispatcher==2.0.5
pydocstyle==3.0.0
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyflakes==2.0.0
Pygments==2.2.0
PyInstaller==3.3.1
pyjsparser==2.4.5
pykafka==2.6.0
PyMySQL==0.7.10
PyNaCl==1.3.0
pyocr==0.4.7
pyOpenSSL==17.0.0
pyparsing==2.2.0
pyrsistent==0.14.11
PyStemmer==1.3.0
pytesseract==0.1.7
pytest-runner==4.2
python-dateutil==2.6.0
python-docx==0.8.7
python-redis==0.1.7
pytz==2016.10
pywebhdfs==0.4.1
pywin32==224
PyYAML==3.12
pyzmq==16.0.2
queuelib==1.4.2
raven==6.3.0
rcssmin==1.0.6
redis==2.10.5
redis-py-cluster==1.3.4
repoze.lru==0.6
requests==2.13.0
retrying==1.3.3
rjsmin==1.0.12
Routes==2.4.1
scandir==1.5
scikit-learn==0.19.0
scipy==0.19.1
Scrapy==1.4.0
scrapy-sentry==0.7.0
seafileapi==0.1.1
selenium==3.3.0
SendKeys==0.3
service-identity==17.0.0
setuptools-scm==3.1.0
simplegeneric==0.8.1
simplejson==3.11.1
six==1.10.0
sklearn==0.0
snowballstemmer==1.2.1
spark-parser==1.8.7
Sphinx==1.5.2
sshtunnel==0.1.4
tabulate==0.7.7
torndb==0.3
traitlets==4.3.1
Twisted==17.1.0
tzlocal==1.3
udc-classfication==0.1.0
uncompyle==2.0.0
uncompyle2==1.1
uncompyle6==3.2.5
urllib3==1.24.1
validators==0.11.2
vine==1.1.3
virtualenv==16.5.0
w3lib==1.17.0
watchdog==0.8.3
wcwidth==0.1.7
websocket-client==0.56.0
Werkzeug==0.12.2
win-unicode-console==0.5
xdis==3.8.9
xlrd==1.0.0
XlsxWriter==1.1.8
xlwt==1.2.0
xpost==0.1.11
zerorpc==0.6.1
zope.interface==4.4.1
