@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1553847801976'); /* IE9 */
  src: url('iconfont.eot?t=1553847801976#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABqAAAAKLAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBCIEVATYCJAMMCwgABCAFhG0HNhvbBRHVkzVkf0M0Dq8P06AqOrKyj/WxcPfU2WS3n3mj3cbjcfBJ7gCTgFagCgAAAAAInvr9fmfv3fe+C5JEI0MVrSSVJlbFpGRChOnQ8SwWIo0wQACU0LzPVWJcpIHMdAsAnRwcD0GmB8HmUcwHjb655hDUfIR6kn9zwAp9IX3gNKNcADRtA4Sgeg0QYHY+Eb7sOwMMul9fDp/7M+JUzQQKyHyLJU7pHjTWOA/1ClguUEH3wFLIWqICcIexC17gcwjgp1gNadlfHy0o9joBZDKJREshj6Ks5UVwG44qcoqD1+yZOziJvi9fNgWDY7G3dmynW/8e/dcfEBRAgKcdwAI1QEEGG+vdQhhn8XvW3euiCGapUhJZDJ970D+eAXGxh4MAVEC3eSirp0DgfR0+A1gAXMABynxGEyAJq4IGxTF7YTFJrlaRn5E3gQfoqt+/L87auDqA1Ul4X2Stbu1EnEDrMWt727yfTS0wYZj9M3a2fQC2u2MBBP6goaVGAXjwj0LKsCS8Z0gI/DHrwDE17HbUqmbxLFbCks/1YAC/keLfTse9TfelBg+D4CWVweChCBYvJaSyNXAIUAsXL/XwU639dICEeSHqA6psAQhR1zCEuYEl6p5U9hUOaT9wiWbgp7O+MkBZzGSyIRSMGuQfElWVxo3zJB69YfTOBeXtEf9CskkJfMcrtw5YIi2xw36igNmAoaqAPXgN87yCmqoUFTsxcx26rmkyyVFV0ZrYEApGDfIPiapKE0znSeXzN4zeuaAOQ139QrLJ/OA73gDy4CkHGR7lHfuJAmYDhqoC9mAR5nkFdfOiFBU78YRqHbrOJDPU42zvK/7vDOBnb7cxYkXp36R8216d++FWCwA=') format('woff2'),
  url('iconfont.woff?t=1553847801976') format('woff'),
  url('iconfont.ttf?t=1553847801976') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1553847801976#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e7fd";
}

.icon-plus:before {
  content: "\e8fe";
}

